
.mobileMenu {
  
    position: fixed;
    top: 0;
    right: -100vw; 
    width: 100vw;
    height: 100%;
    background-color: var(--preto-2);
    
    transition: right 0.5s ease-in-out;
  
    display: flex;
    flex-direction: column;

    padding: 4rem;
    margin-top: 7rem;
    border-top: 0.1rem solid var(--roxo-2);
  
    ul{
      display: flex;
      flex-direction: column;
      gap: 3rem;
      list-style: none;
    
  
      color: #fff;
      font-size: 3rem;
      font-weight: 600;
    }
  }
  
  .mobileMenu.open {
    right: 0;
  }
  
  