.container{
    width: 100%;
    background-color: var(--roxo-1);
    padding: 3rem 0;

    p{
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        color: #9298A3;
    }
}